
#database
DATABASE_URL=postgresql://postgres.username:password@aws-0-eu-central-1.pooler.supabase.com:6543/postgres

#WAHA API configuration
WAHA_HOST='https://xxxx-xxx-xxx-x-xxx.ngrok-free.app'
WAHA_TIMEOUT=10
WAHA_API_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
